{% extends 'base.html' %}
{% block title %}{{ user.fname }} {{ user.lname }}{% endblock %}

{% block content %}

<img src="{{ user.img_url }}" style="max-width: 200px;">
<h1>{{ user.fname }} {{ user.lname }}</h1>


<button><a href="/users/{{ user.id }}/edit" id="edit">Edit</a></button>
<form action="/users/{{ user.id }}/delete" method="POST">
<button type="submit" id="delete">Delete</button>
</form>

<div>
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
        <li><a href="/posts/{{ post.id }}">{{ post.title}}</a></li>
        {% endfor %}
    </ul>
    <button><a href="/users/{{ user.id }}/posts/new">Add Post</a></button>
</div>

{% endblock %}