{% extends 'base.html' %}
{% block title %}Create a post{% endblock %}

{% block content %}
<h1>Create a post</h1>
<!-- TEST: new_post form is working?!-->

<form action="/users/{{ user.id }}/posts/new" method="post">
    <label for="title">Title *</label>
    <input id="title" name="title" type="text" required>

    <label for="content">Content *</label>
    <input id="content" name="content" type="text" required>

    <button id="cancel">Cancel</button>
    <button type="submit">Add</button>

</form>

{% endblock %}