{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>

<div>
    {{ post.content }}
    <p>By {{ post.user.fname }} {{ post.user.lname}}</p>
</div>
<div>
    <form action="/posts/{{ post.id }}/delete" class="form" method="post">
        <button><a href="/users/{{ post.user_id }}">Cancel</a></button>
        <button><a href="/posts/{{ post.id }}/edit">Edit</a></button>
        <button type="submit">Delete</button>
    </form>
</div>

{% endblock %}